<p>home works!</p>
<div class="col-md-6 offset-md-3">
  <div class="card card-body bg-light">
    <form method="post">
      <div asp-validation-summary="ModelOnly">
        <div class="form-group">
          <label asp-for="Company">Company:</label>
          <br />
          <input class="form-control" asp-for="Company" placeholder="Please type or select your Company"/>
          <span asp-validation-for="Company"></span>
          <br />
          <label asp-for="userName">Username:</label>
          <br />
          <input class="form-control" asp-for="userName" placeholder="Please enter your username" />
          <span asp-validation-for="userName"></span>
          <br />
          <label asp-for="password">Password:</label>
          <br />
          <input class="form-control" asp-for="password" type="password" placeholder="Please enter your password" />
          <span asp-validation-for="password"></span>
          <br />
          <div >
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="dropdown-divider"></div>
            <div align="right">
              <a class="dropdown-item" href="/home">Forgot username/password?</a>
              <a class="dropdown-item" href="/register">No Account? Click to register</a>
            </div>
          </div>        
        </div>
      </div>
    </form>
  </div>
</div>
